<?xml version='1.0' encoding='UTF-8'?>

<module xmlns="urn:jboss:module:1.1" name="com.antonyudin.wildfly.security">

	<resources>
		<resource-root path="ay-securityrealm-ejb-1.0.jar"/>
	</resources>

	<dependencies>
		<module name="org.wildfly.security.elytron"/>
		<module name="org.wildfly.extension.elytron"/>
	</dependencies>

</module>

